@font-face {
    font-family: rocks;
    src: url(/fonts/rocks.otf);
}

body {
    background-color: #0e0707;
    font-family: 'rocks', sans-serif;
}

h1 {
    color: #633838;
    font-size: 50px;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: #4d1313;
}

.navbar {
    padding: 5px;
    background-color: #7e6a6a;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-nav {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    margin-left: 15px;
}

.nav-link {
    color: #633838;
    text-decoration: none;
}

.nav-link:hover {
    color: #c1b5b5;
}
